body {
	font-family: Calibri, sans-serif;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #ff0000;
	--header-text-color-oba: #ffffff;
	--header-background-color-oba: #d3d3d3;

	--header-text-color-a: #ffffff;
	--header-background-color-a: #003fff;

	--header-text-color-b: #ffffff;
	--header-background-color-b: #ff4343;

	--odd-cells-background-color: #fff2cb;
	--even-cells-background-color: #ffffff;

	--header-days-background-color: #ffc000;
}

tr:nth-of-type(even) {
	background-color: var(--even-cells-background-color);
}

tr:nth-of-type(odd) {
	background-color: var(--odd-cells-background-color);
}

tr > td:hover {
	background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

th {
	background-color: var(--header-days-background-color);
}

th[scope="col-first"] {
	width: 65px;
	color: black;
}
th[scope="col"] {
	width: 300px;
	color: black;
}
th[scope="col-root"] {
	color: var(--header-text-color-oba);
	background-color: var(--header-background-color-oba);
}

td {
	text-align: center;
	height: 45px;
}

th,
td {
	border: 1px solid black;
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
}

#capture {
	padding: 15px;
	background: white;
	width: 1595px;
	min-width: 1595px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.radio-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.profesor-input {
	width: 90%;
	font-size: 25px;
}

.predmet-input {
	width: 90%;
	font-size: 25px;
}

.radio-container {
	font-size: 25px;
	width: 90%;
}

div[name="info-container"] {
	border: 2px solid black;
	display: none;
	flex-direction: column;
	width: 97%;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	gap: 10px 0px;
	border-radius: 7px;
	background-color: white;
}

.radio-option:has(input:checked) {
	background-color: blue;
	color: white;
}

.radio-option {
	padding: 2px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
}

.radio-option > label {
	user-select: none;
}

input[type="radio"] {
	margin: 0;
}

#toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	width: 300px;
	overflow: hidden;
	gap: 10px 0px;
	margin-top: 20px;
	padding: 5px;
	background-color: rgb(236, 236, 236);
	border-radius: 12px;
	overflow: hidden;
}
